.profile {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 4rem;

  @include respond(tab-port) {
    flex-flow: column nowrap;
    padding-top: 0;
  }

  &__image {
    width: 18rem;
    border-radius: 3px;
    margin-right: 4rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    @include respond(tab-port) {
      margin-right: 0;
      margin-bottom: 4rem;
    }
  }

  &__description {
    hyphens: auto;
    text-align: justify;

    @include respond(tab-port) {
      text-align: center;
    }
  }
}
