.social {
  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  &__icon {
    width: 6rem;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}
