<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home | Dwikyerl</title>
  <link rel="stylesheet" href='
  <%= htmlWebpackPlugin.files.chunks.main.css %>'>
</head>

<body>
  <div class="navigation">
    <div class="navigation__logo">
      Dwikyerl
    </div>

    <nav class="navigation__nav">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="#">Home</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#about">About</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#projects">Projects</a>
        </li>
      </ul>
    </nav>
  </div>

  <header class="hero">
    <div class="hero__text-box">
      <h1 class="heading-primary">
        <span class="heading-primary--main">Dwiky Erlangga</span>
        <span class="heading-primary--sub">Fullstack Web Developer</span>
      </h1>
      <a href="#contacts" class="btn btn--white btn--big btn--animated">Contact Me</a>
    </div>
  </header>

  <main>
    <section class="section-about" id="about">
      <div class="section-container">
        <h2 class="heading-secondary">About Me</h2>
        <div class="profile">
          <img class="profile__image" src="<%= require('./images/profile_image.jpg') %>" alt="Dwiky Erlangga">
          <p class="paragraph profile__description">
            My name is Dwiky Erlangga. I am a Fullstack Web Developer. Currently based in Tangerang, Indonesia. My skills include front-end
            development such as HTML, CSS, DOM Javascript, JQuery, React, SASS and back-end development using Node JS with
            express framework, PostgreSQL, MongoDB, Sequelize ORM, Mongoose ODM. Now I'm a Fullstack Javascript student at
            Hacktiv8 Coding Bootcamp, so there is so much for me to learn to become a professional fullstack web developer.
          </p>
        </div>
      </div>
    </section>

    <section class="section-projects" id="projects">
      <h2 class="heading-secondary heading-secondary--white">Projects</h2>
      <div class="section-projects__list">
        <div class="project">
          <figure class="project__shape">
            <img src="<%= require('./images/color-game.png') %>" alt="Color Game" class="project__image">
            <figcaption class="project__caption">
              <span class="project__caption--primary">Color Game</span>
              <span class="project__caption--secondary">This is a web based game built to learn RGB Colors</span>
            </figcaption>
          </figure>
          <div class="project__details">
            <ul>
              <li>HTML</li>
              <li>SASS</li>
              <li>DOM Javascript</li>
              <li>Webpack</li>
            </ul>
          </div>
          <a class="btn btn--green btn--small" target="_blank" href="https://dwikyerl.github.io/color-game/">View Project</a>
          <a class="btn btn--green btn--small" target="_blank" href="https://github.com/dwikyerl/color-game">Project's Repo</a>
        </div>

        <div class="project">
          <figure class="project__shape">
            <img src="<%= require('./images/color-game.png') %>" alt="Color Game" class="project__image">
            <figcaption class="project__caption">
              <span class="project__caption--primary">Color Game</span>
              <span class="project__caption--secondary">This is a web based game built to learn RGB Colors</span>
            </figcaption>
          </figure>
          <div class="project__details">
            <ul>
              <li>HTML</li>
              <li>SASS</li>
              <li>DOM Javascript</li>
              <li>Webpack</li>
            </ul>
          </div>
          <a class="btn btn--green btn--small" target="_blank" href="https://dwikyerl.github.io/color-game/">View Project</a>
          <a class="btn btn--green btn--small" target="_blank" href="https://github.com/dwikyerl/color-game">Project's Repo</a>
        </div>
      </div>
    </section>

    <section class="section-contacts" id="contacts">
      <div class="section-container">
        <h2 class="heading-secondary">Keep in touch with me</h2>
        <div class="social">
          <ul class="social__list">
            <li>
              <a href="mailto:dwikyerl@gmail.com" target="_blank">
                <img class="social__icon" src="<%=require('./images/mail.svg') %>" alt="mail">
              </a>
            </li>
            <li>
              <a href="https://github.com/dwikyerl" target="_blank">
                <img class="social__icon" src="<%=require( './images/github.svg') %>" alt="github">
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/dwikyerl" target="_blank">
                <img class="social__icon" src="<%=require( './images/facebook.svg') %>" alt="facebook">
              </a>
            </li>
            <li>
              <a href="https://twitter.com/dwikyerl" target="_blank">
                <img class="social__icon" src="<%=require( './images/twitter.svg') %>" alt="twitter">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer">
    <h2 class="footer__copyright">
      Copyright &copy; 2018 by Dwiky Erlangga
    </h2>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src='<%= htmlWebpackPlugin.files.chunks.main.entry %>'></script>
</body>

</html>